#dice_roller {
    display: inline-block;
    margin: 10px;
}

#dice_output {
    display: inline-block;
}

.dice_botch {
    color: red;
}

.dice_crit {
    color: green;
}

.dice_discard {
    text-decoration: line-through;
    font-size: 80%;
}
