html {
    margin: 0
}

body {
    background-image: url("paper.png");
    background-color: rgba(222, 184, 135, 0.4);
    background-blend-mode: multiply;
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 50px 1fr 5px 45px;
    grid-template-areas: 
        "header header header"
        "tabbed_content split_vertical initiative_tracker"
        "split_horizontal split_horizontal split_horizontal"
        "footer footer footer";
}

#split_vertical {
    grid-area: split_vertical;
    background-color: grey;
}
#split_horizontal {
    grid-area: split_horizontal;
    background-color: grey;
}

img {
    max-height: 100%;
}

h1, h2, h3 {
    color: #651e13;
}

h2 {
    font-size: 1.3em;
}

header {
    background-color: #f5f5f5;
    margin: 0;
    padding: 2px 8px;
    border-color: #4c3f06;
    border-bottom: 2px solid;
    grid-area: header;
}

#project_name {
    margin: 2px;
    height: calc(100% - 4px);
    color: #651e13;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    background-color: #ffffff00;
    border: 1px solid #ffffff00;
}

header #project_name:hover {
    border: 1px solid;
    border-radius: 3px;
}

header img {
    float: right;
}

section.main_content {
    margin: 0;
    overflow: scroll;
}

footer {
    width: 100%;
    background-color: #f5f5f5;
    margin: 0;
    grid-area: footer;
}

.standard_border {
    border-color: #4c3f06;
    background-color: #f5f5f5;
    border: 2px solid;
    border-radius: 10px;
    border-spacing: 0;
    padding: 5px;
    margin: 2px;
}

table h2 {
    margin: 0;
}

#trackers_container {
    grid-area: initiative_tracker;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    overflow: scroll;
}

#initiative_tracker td {
    position: relative;
    padding: 5px 10px;
}

#initiative_tracker .disabled td:nth-child(-n+3):before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

#initiative_tracker .initiative_record_highlighted {
    background-color: #deb887;
}

#history {
    min-width: 200px;
}

#history tbody tr:nth-child(odd){
    background-color: #e0e5c1;
}

#history tbody tr td:last-child {
    text-align: right;
}

#tabbed_content_nav {
    display: none;
}

#tabbed_content_nav a {
    display: block;
    color: #651e13;
    padding: 2px;
}

#tabbed_content_container {
    grid-area: tabbed_content;
    display: flex;
}

#tabbed_content_area {
    flex-grow: 1;
}

#notes {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "notes_browser notes_editor";
}

#notes_browser {
    grid-area: notes_browser;
    border-spacing: 0;
}

#notes_browser tbody tr:nth-child(odd) {
    background-color: #e0e5c1;
}

#notes_browser tbody tr.note_label:hover {
    background-color: #deb887;
    cursor: context-menu;
}

#notes_browser tbody tr.highlight {
    background-color: #deb887;
}

#notes_editor {
    grid-area: notes_editor;
    padding-left: 10px;
}

#notes_editor nav {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

#notes_text {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    height: calc(100% - 20px);
}

#notes_markdown {
    background-image: url("paper.png");
    background-color: #fff4e766;
    background-blend-mode: multiply;
    border-color: #4c3f06;
    border: 2px solid;
    border-radius: 10px;
    border-spacing: 0;
    padding: 5px;
    box-sizing: border-box;
    height: calc(100% - 20px);
}

#notes_markdown tbody tr:nth-child(odd){
    background-color: #e0e5c1;
}

#notes_markdown table {
    border-spacing: 0;
    padding: 5px;
    margin: 2px;
}

#notes_markdown table tbody tr.highlight {
    background-color: #deb887;
}
